:root {
  --Light-red: hsl(0, 100%, 67%);
  --Light-red-alpha: hsla(0, 100%, 67%, 0.2);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Orangey-yellow-alpha: hsla(39, 100%, 56%, 0.2);
  --Green-teal: hsl(166, 100%, 37%);
  --Green-teal-alpha: hsla(166, 100%, 37%, 0.2);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Cobalt-blue-alpha: hsla(234, 85%, 45%, 0.15);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsla(241, 100%, 89%, 0.3);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 18px;
}

.container {
  display: grid;
  gap: 1rem;
}

.overallComp {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 0 2rem;
  color: var(--White);
  border-radius: 0 0 2rem 2rem;
  display: grid;
  place-items: center;
}

.actualScoreContainer {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  display: grid;
  gap: 0.5rem;
  place-items: center;
  width: 90px;
  padding: 1.5rem;
  color: var(--Pale-blue);
}

.actualScore {
  font-size: 3rem;
  font-weight: 700;
  font-weight: bold;
  color: white;
}

.summaryComp {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  gap: 1rem;
}

.summaryComp div {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0 1rem;
}

.summaryComp div p {
  color: var(--Dark-gray-blue);
}

.summaryLabel {
  display: flex;
  align-items: center;
  color: var(--Cobalt-blue);
  gap: 0.5rem;
  font-weight: 600;
}

.labelScore {
  color: var(--Dark-gray-blue);
  font-weight: 600;
}

#reactionLabelContainer {
  background-color: var(--Light-red-alpha);
}

#reactionLabelContainer .summaryLabel {
  color: var(--Light-red);
}

#memoryLabelContainer {
  background-color: var(--Orangey-yellow-alpha);
}

#memoryLabelContainer .summaryLabel {
  color: var(--Orangey-yellow);
}

#verbalLabelContainer {
  background-color: var(--Green-teal-alpha);
}

#verbalLabelContainer .summaryLabel {
  color: var(--Green-teal);
}

#visualLabelContainer {
  background-color: var(--Cobalt-blue-alpha);
}

#visualLabelContainer .summaryLabel {
  color: var(--Cobalt-blue);
}

h2 {
  padding: 0;
  margin: 0;
}

button {
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  border: none;
  border-radius: 32px;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
}
